@import "../../../styles/main.module.scss";
.bottomTabElem {
  @include basic-box(76px, 49px, 0, 0, 0);
  cursor: pointer;
  background-color: $white;

  li {
    @include flexBox(start, center);
    flex-direction: column;

    span {
      @include text-style($fs-12, $light_gray, 400);
    }
  }
}
