.tab {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: space-evenly;
  width: 375px;
  padding: 13px 17.5px;
  background-color: #fff;
  transform: translateX(-50%);
}
