@import "../../../styles/main.module.scss";
.topBar {
  @include flexBox(start, center);
  @include basic-box(100%, 49px, 12px 16px, 0, 0);
  background-color: $white;

  button {
    @include basic-box(24px, 24px, 0, 0, 0);
    margin-right: 16px;
    cursor: pointer;
    background-color: transparent;
  }

  span {
    @include text-style($fs-16, $sub, 700);
  }
}
