@import "../../../styles/main.module.scss";
.btn_blue {
  color: $white;
  background-color: $main;
  border: 0;
}

.btn_gray {
  color: $white;
  background-color: $light_gray;
  border: 0;
}

.btn_white {
  color: $main;
  background-color: $white;
  border: 1px solid $main;
}

.btn_transparent {
  color: $light_gray;
  background-color: transparent;
  border: 0;
}
