@import "../../../styles/main.module.scss";

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.completeBtn,
.completeBtnDisable {
  @include btn-style(80px, 0);
  width: 375px;
}

.completeBtnDisable {
  cursor: not-allowed;
}

.completeBtnText {
  @include text-style(500);
}
