@import "../../../styles/main.module.scss";

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.completeBtn {
  @include btn-style(80px, 0);
  width: 100%;
}

.completeBtnText {
  width: 375px;
  @include text-style(500);
}
