@import "../../../styles/main.module.scss";
.categoryBtn {
  @include flexBox(start, center);
  @include basic-box(333px, 40px, 0 0 0 9px, 0, 0);
  position: relative;
  cursor: pointer;
  background-color: $white;
  border-top: 1px solid $line;

  span {
    @include text-style($fs-14, $sub, 400);
  }

  .arrow {
    @include pos-center-y(absolute);
    right: 13px;

    svg {
      transform: rotate(-90deg);
    }
  }
}
