@import "../../../styles/main.module.scss";
.myPageCategoryBtn {
  @include flexBox(start, center);
  position: relative;
  width: 333px;
  height: 40px;
  padding-left: 9px;
  cursor: pointer;
  background-color: $white;
  border: 0;
  border-top: 1px solid $line;

  .text {
    @include text-style($fs-14, $sub, 400);
  }

  .arrow {
    @include pos-center-y(absolute);
    right: 13px;

    svg {
      transform: rotate(-90deg);
    }
  }
}
