@import "../../../styles/main.module.scss";
.ellipseBtn {
  @include flexBox;
  @include basic-box(133px, 26px, 0, 0, 10px);
  position: relative;
  margin: 0 0 5px 0;
  cursor: pointer;
  background-color: $bg-color;

  input {
    display: none;
  }

  .checkIcon {
    @include pos(absolute, 4px, 0, 0, 4px);
    pointer-events: none;
  }

  label {
    width: 100%;
    cursor: pointer;

    span {
      display: block;
    }

    .selectedText {
      @include text-style($fs-12, $main, 700);
    }

    .unselectedText {
      @include text-style($fs-12, $light_gray, 700);
    }
  }
}

.selected {
  border: 1px solid $main;
}

.unselected {
  border: 1px solid $line;
}

.unselected:hover {
  border: 0.5px solid $main;

  .unselectedText {
    @include text-style($fs-12, $main, 700);
  }
}
