@import "../../../styles/main.module.scss";
.selectedBtn {
  @include flexBox;
  @include basic-box(50%, 100%, 0, 0, 0);
  cursor: pointer;
  background-color: $white;
  border-bottom: 2.5px solid $main;

  .selectedText {
    @include text-style($fs-16, $main, 700);
  }
}

.unselectedBtn {
  @include flexBox;
  @include basic-box(50%, 100%, 0, 0, 0);
  cursor: pointer;
  background-color: $white;
  border-bottom: 2.5px solid $line;

  .unselectedText {
    @include text-style($fs-16, $sub, 500);
  }
}
