@import "../../../styles/main.module.scss";
.selectedBtn {
  @include flexBox;
  width: 50%;
  cursor: pointer;
  background-color: $white;
  border: 0;
  border-bottom: 2.5px solid $main;
  outline: none;

  .selectedText {
    @include text-style($fs-16, $main, 700);
  }
}

.unselectedBtn {
  @include flexBox;
  width: 50%;
  cursor: pointer;
  background-color: $white;
  border: 0;
  border-bottom: 2.5px solid $line;
  outline: none;

  .unselectedText {
    @include text-style($fs-16, $sub, 500);
  }
}
