@import "../../../styles/main.module.scss";

.pointer {
  cursor: pointer;
}

// .container {
//   width: 100%;
//   height: 277px;
//   position: relative;
//   top: 49px;
//   // background: url("/images/lecture_detail_intro/lecture_img.png"), #000000;

//   .enlarge {
//     position: absolute;
//     top: 8px;
//     right: 14px;
//     cursor: pointer;
//   }

//   .new_box {
//     display: flex;
//     position: absolute;
//     top: 242px;
//     left: 27.5px;
//     span {
//       padding: 3.5px 6px;
//       font-family: Montserrat;
//       font-style: normal;
//       font-weight: 600;
//       font-size: 12px;
//       line-height: 15px;
//       background: #6595f4;
//       border-radius: 6px;
//       margin-right: 14.5px;
//       /* identical to box height */

//       display: flex;
//       align-items: center;
//       text-align: center;

//       /* MAIN */

//       color: #ffffff;
//     }
//     .new {
//       background: #ffffff;
//       color: #6595f4;
//     }
//   }

//   .mentor_avatar_box {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     position: absolute;
//     top: 240px;
//     right: 29px;
//     height: 96px;
//     .mentor_avatar {
//       z-index: 1;
//     }
//     .mentor_avatar_bg {
//       position: absolute;
//     }
//     span {
//       font-family: Noto Sans KR;
//       font-style: normal;
//       font-weight: bold;
//       font-size: 12px;
//       line-height: 17px;
//       span {
//         color: #ee5a5a;
//         margin-right: 4px;
//       }
//     }
//   }
// }

.imageBlock {
  position: relative;

  .classSystemTag {
    @include tag-class-system-colored($main, $white);
    @include pos(absolute, false, false, 18px, 26px);
  }

  .mentorProfileBlock {
    @include pos(absolute, false, 29px, -42px, false);
    @include flexBox(between, center);
    flex-direction: column;
    height: 96px;

    .mentorImg {
      @include avatar(72px, 72px);
    }

    .mentorName {
      @include text-style($fs-12, $sub, 700);

      .role {
        @include text-style($fs-12, $red, 700);
      }
    }
  }
}
