@import "../../../styles/main.module.scss";
.container {
  width: 100%;
  height: 261px;
  top: 326px;
  .main_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 176px;
    padding: 15px 25px;
    border-bottom: 1px solid #e8eaef;
    .lang {
      font-family: Noto Sans KR;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 25px;
      /* identical to box height, or 227% */

      /* LIGHT GRAY */

      color: #949bad;
    }
    .title {
      font-family: Noto Sans KR;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 28px;
      width: 233px;
      /* or 165% */

      /* SUB */

      color: #2c343f;
    }
    .review {
      display: flex;
      align-items: center;
      .star {
        display: flex;
        align-items: center;
        span {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
          text-align: center;
          margin-left: 6.62px;

          /* LIGHT GRAY */

          color: #949bad;
        }
      }
      a {
        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        margin-left: 17px;
        border-bottom: 1px solid #6595f4;

        /* MAIN */

        color: #6595f4;
      }
    }
    .content {
      font-family: Noto Sans KR;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      width: 312px;

      /* GRAY */

      color: #434a58;
    }
  }
}

.classInfoBlock {
  padding: 15px 95px 14px 25px;

  .classSubject {
    @include text-style(11px, $light_gray, 500);
  }

  .title {
    @include text-style(17px, $sub, 700, left);
  }

  .ratingReviewSection {
    display: flex;
    align-items: center;

    .ratingSmallFill {
      margin-right: 5px;
    }

    .ratingNum {
      @include text-style(10px, $light_gray, 600);
      margin-right: 16px;
    }
  }

  .reviewCnt {
    @include text-style(10px, $main, 400);
    cursor: pointer;
    border-bottom: 1px solid $main;
  }

  .subtitle {
    @include text-style(13px, $gray, 400);
  }
}

.classPriceBlock {
  padding: 15px 25px;
  border-top: 1px solid $line;
}

.line {
  display: block;
  width: 100%;
  height: 8px;
  background-color: $bg-color;
  border: 0;
}

.btnBlock {
  @include flexBox(center, center);
  width: 100%;
  height: 48px;

  .menuBtn {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.classIntroBlock {
  padding: 20px;
}

.reviewSection {
  padding-top: 36px;

  .ratingBig {
    @include flexBox(center, center);
    flex-direction: column;
    margin-bottom: 38px;

    .scoreBig {
      @include text-style(35px, $main, 700);
    }
  }

  .reviews {
    padding: 13px 20px;

    .reviewTitle {
      @include text-style($fs-16, $sub, 700, left);
    }
  }
}
