@import "../../../../../../styles/main.module.scss";
.reviewDetailSection {
  @extend %page-base;

  .menteeReviewBlock {
    padding: 20px;
  }

  .line {
    width: 100%;
    height: 8px;
    background-color: $bg-color;
  }

  .commentBlock {
    padding: 20px;

    .commentTitle {
      @include text-style($fs-14, $sub, 700, left);
      margin-bottom: 10px;
    }

    .writeComment {
      width: 335px;
      height: 356px;
      padding: 10px;
      background-color: $bg-color;
      border: 0;
      border-radius: 10px;
      outline: none;
      resize: none;
    }
  }
}
