@import "../../../styles/main.module.scss";
.inputSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  .errText {
    @include text-style($fs-15, $red, 400);
  }

  .signupInput {
    @include inputBox(50px, 14px 37px);
    margin-bottom: 10px;
  }

  .inputWithDupBtn {
    position: relative;
    width: 100%;

    .successIC {
      @include pos(absolute, 15px, 10px, false, false);
      width: 20px;
      height: 20px;
    }

    .dupBtn {
      @include pos(absolute, 10px, 10px, false, false);
      @include btn-style(30px, 10px);
      width: 80px;

      .dupBtnText {
        @include text-style($fs-12, $white, 400);
      }
    }
  }
}
