@mixin backgroundImg($width: false, $height: false) {
  @if (type-of($width) ==number) {
    width: $width;
  }
  @if (type-of($height) ==number) {
    height: $height;
  }
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
