%modal-base {
  @include flexBox;
  @include pos-center(absolute);
  z-index: 2;
  flex-direction: column;
  width: 330px;
  background-color: $white;
}

%modal-background {
  @extend %page-base;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.35);
  transform: translateX(-50%);
}
