.main {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  position: relative;

  .line {
    width: 100%;
    height: 36px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    span {
      display: inline-block;

      width: 313px;
      height: 2px;
      background-color: #6595f4;
    }
  }
}
