@import "../../../styles/main.module.scss";
.selectBox {
  position: relative;
  margin-bottom: 11px;

  select {
    @include basic-box(140px, 50px, 15px 18px, 0, 10px);
    background-color: $bg-color;
    appearance: none;
  }

  select::-ms-expand {
    display: none;
  }

  .arrow {
    @include pos(absolute, 50%, false, false, 85%);
    pointer-events: none;
    transform: translate(0, -50%);
  }
}
