@import "../../../styles/main.module.scss";
.classRegistrationInputBox {
  position: relative;

  .inputBox {
    width: 330px;
    height: 80px;
    padding: 13px 21px;
    background-color: $bg-color;
    border: 1px solid $line;
    border-radius: 10px;
    outline: none;
    resize: none;
  }

  .inputBox::placeholder {
    @include text-style($fs-13, $light_gray, 400, left);
  }

  .textLimit {
    @include pos(absolute, false, 15px, 15px, false);
    @include text-style(10px, $light_gray, 400);
  }
}
