@import "../../../styles/main.module.scss";
.inputBoxWithUnit {
  position: relative;
  width: 90px;
  height: 30px;

  .inputBox {
    @include text-style($fs-14, $main, 600, right);
    width: 90px;
    height: 30px;
    padding: 6px 32px 6px 9px;
    background-color: $bg-color;
    border: 1px solid $line;
    border-radius: 15px;
    outline: none;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .unit {
    @include text-style($fs-13, $sub, 700);
    @include pos(absolute, 5px, 9px, 6px, false);
  }
}
