@import "../../../styles/main.module.scss";
.inputBoxWithUnit {
  position: relative;
  width: 90px;
  height: 30px;

  input {
    @include text-style($fs-14, $main, 600, right);
    @include basic-box(90px, 30px, 6px 32px 6px 9px, 1px solid $line, 15px);
    background-color: $bg-color;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  strong {
    @include text-style($fs-13, $sub, 700);
    @include pos(absolute, 5px, 9px, 6px, false);
  }
}
