@import "../../../styles/main.module.scss";
.selectBoxWithTitle {
  position: relative;
  display: inline-block;
  margin: 0 12px 0 0;

  span {
    @include text-style($fs-12, $light_gray, 400, left);
    @include pos(absolute, 6px, 0, 0, 17px);
    z-index: 2;
    width: 40px;
    pointer-events: none;
  }

  select {
    @include text-style($fs-14, $main, 500, left);
    @include basic-box(130px, 60px, 30px 17px 6px, 1px solid $line, 10px);
    background-color: $bg-color;
    appearance: none;

    option {
      @include text-style($fs-14, $main, 500, left);
    }
  }

  select::-ms-expand {
    display: none;
  }

  .arrow {
    position: absolute;
    right: 17px;
    bottom: 11px;
  }
}
