@import "../../../styles/main.module.scss";
.changeInquiry {
  @extend %page-base;

  .text {
    @include text-style($fs-13, $light_gray, 400, left);
    padding: 15px 20px;
    margin: 0;
  }

  .infoText {
    @include text-style($fs-13, $light_gray, 400, left);
    padding-bottom: 70px;
  }

  .line {
    width: 100%;
    height: 8px;
    background-color: #f3f3f3;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 0px 20px;

    .select {
      width: 100%;
    }
    .selectCon {
      width: 100%;
    }

    .titleBox {
      @include inputBox(50px, 15px 18px);
      margin-bottom: 11px;
    }

    .areaBox {
      @include inputBox(372px, 15px 18px);
      resize: none;
    }
  }

  .msg {
    @include text-style($fs-15, $red, 400);
    display: block;
  }

  .successMsg {
    @include text-style($fs-15, $main, 400);
    display: block;
  }
}
