@import "../../../styles/main.module.scss";
.chatRoomTopBar {
  @include pos(fixed, 0, false, false, false);
  @include pos-center-x(fixed);
  @include flexBox(between, center);
  width: 375px;
  height: 50px;
  padding: 16px;
  background-color: $white;
  opacity: 0.9;
  box-shadow: 0 -8px 32px rgba(5, 35, 50, 0.08);

  .goBackBtn {
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
  }

  .mentorInfo {
    @include flexBox(start, center);
    width: 260px;

    .roleTag {
      margin-right: 8px;
    }

    .name {
      @include text-style($fs-16, $sub, 700);
    }
  }
}
