.commentSection {
  border-bottom: 1px solid #e8eaef;
  .profileContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    .leftPannel {
      display: flex;
      align-items: center;
      .image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        display: block;
        margin-right: 9px;
      }
    }
    .rightPannel {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: 400;
      width: 100%;

      .name {
        font-weight: 700;
        font-size: 11px;
      }
      .date {
        font-size: 11px;
        color: #949bad;
      }
    }
  }

  .boardContent {
    font-family: "Noto Sans KR";
    font-style: normal;
    padding: 8px 0px 21px;
    font-weight: 350;
    font-size: 12px;
    color: #000000;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;

    button {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      border: none;
      background: white;
      color: #6595f4;
      text-decoration: none;
    }
  }
}
