.buttonContainer {
  position: fixed;
  bottom: 0;
  padding: 20px 20px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input {
    width: 261px;
    height: 42px;
    background-color: #f3f5f8;
    color: #949bad;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding-left: 12px;
  }

  .button {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    background: #6595f4;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    width: 56px;
    height: 42px;
  }
}
