@import "../../../styles/main.module.scss";
.roundModal {
  @extend %modal-base;
  height: 224px;
  white-space: pre-line;
  border-radius: 10px;

  .closeIcon circle {
    fill: $red;
  }

  p {
    @include text-style(17px, $sub, 500, center);
    width: 200px;
    margin: 0 0 16px;
  }

  .btnStyle {
    @include btn-style(50px, 10px);
    width: 249px;
  }

  .btnTextStyle {
    @include text-style;
  }
}

.squareModal {
  @extend %modal-base;
  height: 175px;
  white-space: pre-line;
  border-radius: 3px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);

  .closeIcon circle {
    fill: $red;
  }

  p {
    @include text-style(14px, $sub, 400, center);
    width: 250px;
    margin: 0 0 16px;
  }

  .btnStyle {
    @include btn-style(40px, 5px);
    width: 216px;
  }

  .btnTextStyle {
    @include text-style;
  }
}
