@import "../../../styles/main.module.scss";
.roundModal {
  @extend %modal-base;
  height: 224px;
  border-radius: 10px;

  .closeIcon circle {
    fill: #ee5a5a;
  }

  .noticeText {
    @include text-style(17px, $sub, 500, center);
    margin: 0 0 16px;
    white-space: pre-line;
  }

  .btnStyle {
    @include btn-style(50px, 10px);
    width: 249px;
  }

  .btnTextStyle {
    @include text-style;
  }
}

.squareModal {
  @extend %modal-base;
  height: 175px;
  border-radius: 3px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);

  .closeIcon circle {
    fill: #ee5a5a;
  }

  .noticeText {
    @include text-style(14px, $sub, 400, center);
    margin: 0 0 16px;
    white-space: pre-line;
  }

  .btnStyle {
    @include btn-style(40px, 5px);
    width: 216px;
  }

  .btnTextStyle {
    @include text-style;
  }
}
