@import "../../../styles/main.module.scss";
.roundModal {
  @extend %modal-base;
  height: 224px;
  border-radius: 10px;

  .noticeText {
    @include text-style(17px, $sub, 500);
  }

  .btnStyle {
    width: 216px;
    @include btn-style(50px, 10px);
  }

  .btnTextStyle {
    @include text-style;
  }
}

.squareModal {
  @extend %modal-base;
  height: 175px;
  padding: 27px 57px;
  border-radius: 3px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);

  .noticeText {
    @include text-style(14px, $sub, 400);
  }

  .btnStyle {
    @include btn-style(40px, 5px);
  }

  .btnTextStyle {
    @include text-style;
  }
}
