@import "../../styles/main.module";

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 12px 20px;
  transition: background-color 0.4s;

  &.scroll {
    background-color: $white;
  }
}

.logo {
  cursor: pointer;
}

.rightPannel {
  display: flex;
  gap: 16px;

  button {
    padding: 0;
    cursor: pointer;
    background: none;
    border: 0;

    @media (hover: hover) {
      &:hover path {
        stroke: $light_gray;
      }
    }
  }
}
