@import "../../styles/main.module";

.modalStyle {
  position: absolute;

  .roundModal {
    @extend %modal-base;
    width: 330px;
    height: 175px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);

    .title {
      @include text-style(16px, $sub, 500);
    }

    .subTitle {
      @include text-style(15px, $sub, 300);
      margin: 0;
    }

    .btnSection {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      .cancel {
        width: 100px;
        height: 40px;
        margin-right: 16px;
        color: $white;
        background: $light-gray;
        font-size: 15px;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
      }

      .check {
        width: 100px;
        height: 40px;
        color: $white;
        background: $main;
        font-size: 15px;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
      }
    }

    .confirm {
      width: 216px;
      height: 40px;
      margin-top: 12px;
      color: $white;
      background: $main;
      font-size: 15px;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }
}
