.container {
  position: fixed;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;

  /* sub color */

  background: #2c343f;
  opacity: 0.7;
  border-radius: 100px;
}
