@import "../../../../../styles/main.module.scss";
.classDetailSection {
  @extend %page-base;

  .imageBlock {
    position: relative;

    .edit_remove_btn {
      @include pos(absolute, 9px, 16px, false, false);
      display: flex;
      height: 23px;

      .editBtn,
      .removeBtn {
        @include tag-class-system-colored($light_gray, $white);
        z-index: 1;
        margin-left: 7px;
        cursor: pointer;
      }

      .removeBtn {
        @include tag-class-system-colored($gray, $white);
      }
    }

    .classSystemTag {
      @include tag-class-system-colored($main, $white);
      @include pos(absolute, false, false, 18px, 26px);
    }

    .mentorProfileBlock {
      @include pos(absolute, false, 29px, -42px, false);
      @include flexBox(between, center);
      flex-direction: column;
      height: 96px;

      .mentorImg {
        @include avatar(72px, 72px);
      }

      .mentorName {
        @include text-style($fs-12, $sub, 700);

        .role {
          @include text-style($fs-12, $red, 700);
        }
      }
    }
  }

  .classInfoBlock {
    padding: 15px 95px 14px 25px;

    .classSubject {
      @include text-style(11px, $light_gray, 500);
    }

    .title {
      @include text-style(17px, $sub, 700, left);
    }

    .ratingReviewSection {
      display: flex;
      align-items: center;

      .ratingSmallFill {
        margin-right: 5px;
      }

      .ratingNum {
        @include text-style(10px, $light_gray, 600);
        margin-right: 16px;
      }
    }

    .reviewCnt {
      @include text-style(10px, $main, 400);
      cursor: pointer;
      border-bottom: 1px solid $main;
    }

    .subtitle {
      @include text-style(13px, $gray, 400);
    }
  }

  .classPriceBlock {
    padding: 15px 25px;
    border-top: 1px solid $line;
  }

  .line {
    display: block;
    width: 100%;
    height: 8px;
    background-color: $bg-color;
    border: 0;
  }

  .btnBlock {
    @include flexBox(center, center);
    width: 100%;
    height: 48px;

    .menuBtn {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .classIntroBlock {
    width: 100%;
    padding: 20px;

    img {
      width: 100%;
    }
  }

  .reviewSection {
    padding-top: 36px;

    .ratingBig {
      @include flexBox(center, center);
      flex-direction: column;
      margin-bottom: 38px;

      .scoreBig {
        @include text-style(35px, $main, 700);
      }
    }

    .reviews {
      padding: 13px 20px;

      .reviewTitle {
        @include text-style($fs-16, $sub, 700, left);
      }
    }
  }
}
