.container {
  padding: 29px 28px 22px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* LIGHT GRAY */

  color: #949bad;
}
