.container {
  width: 376px;
  height: 49px;
  padding: 9px 18px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #fff;
  img {
    cursor: pointer;
  }
  .search {
    margin-right: 16px;
  }
}
