@import "../../../styles/main.module.scss";
.infoEditBox {
  @include flexBox(between, center);
  width: 333px;
  height: 41px;
  background-color: $bg-color;
  border: 1px solid $line;

  .title {
    @include text-style($fs-13, $gray, 400);
    width: 86px;
  }

  .inputBox {
    width: 234px;
    background-color: $bg-color;
    border: 0;
    outline: none;
  }
}
