@import "../../../styles/main.module.scss";
.infoLine {
  display: flex;
  width: 100%;
  margin-bottom: 6px;

  .title {
    @include text-style($fs-14, $light_gray, 400, left);
    display: block;
    width: 80px;
  }

  .content {
    @include text-style($fs-14, $sub, 400, left);
  }
}
