.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  position: absolute;
  top: 12px;
  padding-left: 20px;
  padding-right: 16px;

  .centerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    select {
      border: none;
      font-family: Noto Sans KR;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 32px;
      letter-spacing: -0.002em;
      text-transform: uppercase;
      -o-appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("/images/menteeall/location_arrow.svg") no-repeat 94px;
      color: #2c343f;
      padding-right: 16px;
    }
  }
  .rightbox {
    display: flex;
    width: 64px;
    justify-content: space-between;
  }
}
