@import "../../../styles/main.module.scss";
.radioSection {
  @include flexBox(start, center);
  height: 44px;
  border-bottom: 1px solid $line;

  .radioBtn {
    @include basic-box(15px, 15px, 0, 0, 1px solid $light_gray);
    margin: 0 18px 0 0;
  }

  span {
    @include text-style($fs-13, $sub, 400);
    display: block;
  }
}
