@import "../../../styles/main.module.scss";
.classPriceSection {
  .alignWithRow {
    @include flexBox(between, center);
    width: 100%;
    margin-bottom: 18px;

    .alignWithColumn {
      display: flex;
      flex-direction: column;
      width: 90px;

      .title {
        @include text-style($fs-13, $sub, 500);
        margin-bottom: 4px;
      }
    }

    .multiple {
      @include backgroundImg(8px, 8px);
      background-image: url("../../../public/icons/close.svg");
      transform: translateY(140%);
    }

    .equal {
      @include backgroundImg(12px, 12px);
      background-image: url("../../../public/icons/equal.svg");
    }

    .total_price_block {
      @include flexBox(between, center);
      width: 300px;
      height: 30px;
      padding: 4px 14px;
      background-color: $bg-color;
      border: 1px solid $line;
      border-radius: 15px;

      .text_black {
        @include text-style($fs-13, $sub, 700);
      }

      .total_price {
        @include text-style($fs-16, $main, 600, right);
        width: 65%;
      }
    }
  }
}
