.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  height: 58px;

  background: #fff;
  z-index: 1;
  border-bottom: 1px solid #e8eaef;
  .back_icon {
    cursor: pointer;
  }
  h5 {
    width: 259px;
    margin: 0%;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;
    letter-spacing: -0.002em;
    text-transform: uppercase;

    /* sub color */

    color: #2c343f;
  }
  .option_icon {
    cursor: pointer;
  }
}
.bg {
  width: 375px;
  height: 58px;
}
