.container {
  width: 376px;
  height: 49px;
  padding: 9px 18px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #fff;
  .left_box {
    display: flex;
    .topic {
      font-family: Noto Sans KR;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      margin-left: 16px;
      /* or 150% */

      display: flex;
      align-items: center;
      letter-spacing: -0.002em;
      text-transform: uppercase;

      /* sub color */

      color: #2c343f;
    }
  }

  img {
    cursor: pointer;
  }
}
