@import "../../../../styles/main.module.scss";

.chatRoom {
  @extend %page-base;
  position: relative;

  .chatContentSection {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    padding: 60px 20px 110px;
    overflow-y: scroll;
    background-color: $bg-color;

    .chatContents {
      display: flex;
      flex-direction: column;
    }
  }
}
