@import "../../styles/main.module";

.home {
  position: relative;
  max-width: 376px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $white;

  main {
    position: relative;
    padding: 17px 20px;
  }
}

.drawer {
  margin: 0 auto;
  right: 0;
  height: 514px;
  max-width: 376px;

  .bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    border-top: 2px solid #e8eaef;

    .resetbutton {
      width: 106px;
      height: 48px;
      border: none;
      background: #2c343f;
      border-radius: 8px;
      color: $white;
    }
    .findbutton {
      width: 221px;
      height: 48px;
      border: none;
      background: #689afd;
      border-radius: 8px;
      color: $white;
    }
  }
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;

  div {
    position: relative;
    height: 812px;
  }
}

.classesCount {
  @include text-style(15px, $sub, 500, start);
  margin: 16px 0 22.5px;
}

.classCards {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  gap: 16px;
}
